body {
  display: flex;
  margin: 0;
}

#interface {
  font-family: monospace;
  white-space: pre;
  unicode-bidi: embed;
}

.column {
  box-sizing: border-box;
  flex: 1;
  height: 100vh;
  overflow: auto;
  padding: 1rem;
}
